@font-face {
  font-family: gveretLevin;
  src:url("GveretLevinAlefAlefAlef-Regular.otf");
}
.header{

  padding: 80px;
  text-align: center;
  background-image: url("photos/Header_pic.jpg");
  color:black;
  font-family: Sofia;
  font-size: 40px;
}

.body {
  text-align: right;
  background: bisque;
}
.navbar {
  overflow: hidden; /* Hide overflow */
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff917b;
}
.navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: inline-block; /* Change the display to block, for responsive reasons (see below) */
  color: black;
  text-align: center; /* Center the text */
  padding: 14px 25px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 20px;
  font-weight: bold;
}
.img {
 border-radius: 50%;
  height: 320px;
  width: 240px;
}
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

.instagram-media{
  background: bisque;
}