.header{

  padding: 80px;
  text-align: center;
  background-image: url(photos/Header_pic.jpg);
  color:black;
  font-family: Sofia;
  font-size: 40px;
}

.body {
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: right;
}
.navbar {
  overflow: hidden; /* Hide overflow */
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff917b;
}
.navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: inline-block; /* Change the display to block, for responsive reasons (see below) */
  color: black;
  text-align: center; /* Center the text */
  padding: 14px 25px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 20px;
  font-weight: bold;
}
.img {
  padding: 20px;
  border-radius: 50%;
}
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

