*{
  box-sizing: border-box;
}


.left {
  float: right;
  width: 70%;
  text-align: center;
}
.right {
  float: right;
  width: 30%;
  text-align: center;
  padding-left: 50px;
}
.card {
  background-color: bisque;
  padding: 50px;
  margin-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}