/* Four columns side by side */
.column {
    float: left;
    width:24%;
    padding: 0 8px;
}

.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.title {
  color: grey;
}


.what_baking{
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}