*{
  box-sizing: border-box;
}


.left {
  float: right;
  width: 70%;
  text-align: center;
}
.right {
  float: right;
  width: 30%;
  text-align: center;
  padding-left: 50px;
}
.card {
  font-family: gveretLevin;
  background-color: bisque;
  padding: 50px;
}
.lastbake{
  font-size: 40px;
  text-align: right;
  direction: rtl;
}
.card p{
  font-size: 20px;
  text-align: right;
  direction: rtl;
  margin-bottom: -1em;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}